{% load i18n %}

<p>{% blocktrans trimmed %}Access defines how the database service is exposed.{% endblocktrans %}</p>
<p>{% blocktrans trimmed %}CIDRs is a comma-separated list of IPv4, IPv6 or mix of both CIDRs that restrict access to the database service.{% endblocktrans %}</p>
<p>{% blocktrans trimmed %}<strong>Security Warning:</strong> Setting 'Allowed CIDRs' to 0.0.0.0/0 may expose the database instance to the Internet. Access should be restricted to the specific IPs or subnets that require it.{% endblocktrans %}</p>
